Source: perfsonar-bundles
Section: net
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Antoine Delvaux <antoine.delvaux@man.poznan.pl>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: http://www.perfsonar.net/
Vcs-Git: https://github.com/perfsonar/bundles.git
Vcs-Browser: https://github.com/perfsonar/bundles

Package: perfsonar-tools
Architecture: all
Depends: pscheduler-core,
 owamp-client (>= 3.5.0), owamp-server (>= 3.5.0), nuttcp, iperf, iperf3,
 twamp-client, twamp-server, iputils-ping, iputils-tracepath, traceroute,
 paris-traceroute, perfsonar-common, ${misc:Depends}
Description: perfSONAR tools metapackage
 perfSONAR combines a number of measurement tools and services.
 .
 perfSONAR tools metapackage installs owamp and pscheduler
 servers.
 .
 This type of installation also contains the owamp and
 pscheduler command-line clients so that you may run one-time tests
 to other servers.

Package: perfsonar-testpoint
Architecture: all
Depends: perfsonar-tools, perfsonar-lsregistrationdaemon, 
 pscheduler-bundle-full | pscheduler-bundle-full-nos3, perfsonar-toolkit-install,
 perfsonar-psconfig-pscheduler, ${misc:Depends}
Description: perfSONAR testpoint metapackage
 perfSONAR combines a number of measurement tools and services.
 .
 perfSONAR testpoint metapackage installs owamp server
 along with tools to publish the location of these services to the
 perfSONAR Simple Lookup Service and run regular tests. It also
 contains the mesh-config agent so that you can easily make your
 testpoint participate in a testing mesh.
 .
 This type of installation also contains the perfsonar-tools
 package so that you may run one-time tests to other servers.

#Package: perfsonar-core
#Architecture: all
#Depends: perfsonar-testpoint, perfsonar-archive,
# perfsonar-toolkit-archive-utils, ${misc:Depends}
#Description: perfSONAR core metapackage
# perfSONAR combines a number of measurement tools and services.
# .
# perfSONAR core metapackage installs owamp server
# along with tools to publish the location of these services to the
# perfSONAR-PS Simple Lookup Service, run regular tests and
# a Measurement Archive for storing results.
# .
# This type of installation also contains the perfsonar-testpoint
# package so that you may run one-time tests to other servers.

