Source: perfsonar-bundles
Section: net
Priority: optional
Maintainer: Valentin Vidic <Valentin.Vidic@CARNet.hr>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.perfsonar.net/
Vcs-Git: https://github.com/perfsonar/bundles.git
Vcs-Browser: https://github.com/perfsonar/bundles

Package: perfsonar-tools
Architecture: all
Depends: bwctl-client, bwctl-server, ndt-client,
 owamp-client, owamp-server, nuttcp, iperf, iperf3,
 iputils-ping, iputils-tracepath, traceroute, paris-traceroute,
 perfsonar-common, ${misc:Depends}
Description: perfSONAR tools metapackage
 perfSONAR combines a number of measurement tools and services.
 .
 perfSONAR tools metapackage installs bwctl and owamp server.
 .
 This type of installation also contains the bwctl, owamp and ndt
 command-line clients so that you may run one-time tests to
 other servers.

Package: perfsonar-testpoint
Architecture: all
Depends: perfsonar-tools, perfsonar-lsregistrationdaemon, 
 perfsonar-regulartesting, perfsonar-oppd-bwctl,
 perfsonar-oppd-owamp, perfsonar-meshconfig-agent,
 ${misc:Depends}
Description: perfSONAR testpoint metapackage
 perfSONAR combines a number of measurement tools and services.
 .
 perfSONAR testpoint metapackage installs bwctl and owamp server
 along with tools to publish the location of these services to the
 perfSONAR Simple Lookup Service and run regular tests. It also
 contains the mesh-config agent so that you can easily make your
 testpoint participate in a testing mesh.
 .
 This type of installation also contains the bwctl, owamp and ndt
 command-line clients so that you may run one-time tests to
 other servers.

