Source: perfsonar-bundles
Section: net
Priority: optional
Maintainer: Valentin Vidic <Valentin.Vidic@CARNet.hr>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.perfsonar.net/

Package: perfsonar-tools
Architecture: all
Depends: ${misc:Depends}, bwctl-client, bwctl-server, ndt-client,
 owamp-client, owamp-server, nuttcp, iperf, iperf3,
 perfsonar-lsregistrationdaemon
Description: perfSONAR tools metapackage
 perfSONAR combines a number of measurement tools and services.
 .
 perfSONAR tools metapackage installs bwctl and owamp server
 along with tools to publish the location of these services to the
 perfSONAR-PS Simple Lookup Service.
 .
 This type of installation also contains the bwctl, owamp and ndt
 command-line clients so that you may run one-time tests to
 other servers.
