Source: perfsonar-bundles
Section: net
Priority: optional
Maintainer: Valentin Vidic <Valentin.Vidic@CARNet.hr>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.perfsonar.net/
Vcs-Git: https://github.com/perfsonar/bundles.git
Vcs-Browser: https://github.com/perfsonar/bundles

Package: perfsonar-tools
Architecture: all
Depends: bwctl-client, bwctl-server, pscheduler-core,
 owamp-client, owamp-server, nuttcp, iperf, iperf3,
 iputils-ping, iputils-tracepath, traceroute, paris-traceroute,
 perfsonar-common, ${misc:Depends}
Description: perfSONAR tools metapackage
 perfSONAR combines a number of measurement tools and services.
 .
 perfSONAR tools metapackage installs bwctl, owamp and pscheduler
 servers.
 .
 This type of installation also contains the bwctl, owamp and
 pscheduler command-line clients so that you may run one-time tests
 to other servers.

Package: perfsonar-testpoint
Architecture: all
Depends: perfsonar-tools, perfsonar-lsregistrationdaemon, 
 perfsonar-oppd-bwctl, perfsonar-oppd-owamp, perfsonar-meshconfig-agent,
 pscheduler-bundle-full, ${misc:Depends}
Description: perfSONAR testpoint metapackage
 perfSONAR combines a number of measurement tools and services.
 .
 perfSONAR testpoint metapackage installs bwctl and owamp server
 along with tools to publish the location of these services to the
 perfSONAR Simple Lookup Service and run regular tests. It also
 contains the mesh-config agent so that you can easily make your
 testpoint participate in a testing mesh.
 .
 This type of installation also contains the perfsonar-tools
 package so that you may run one-time tests to other servers.

Package: perfsonar-core
Architecture: all
Depends: perfsonar-testpoint, esmond, ${misc:Depends}
Description: perfSONAR core metapackage - beta
 perfSONAR combines a number of measurement tools and services.
 .
 perfSONAR core metapackage installs bwctl and owamp server
 along with tools to publish the location of these services to the
 perfSONAR-PS Simple Lookup Service, run regular tests and
 a Measurement Archive for storing results.
 .
 This type of installation also contains the perfsonar-testpoint
 package so that you may run one-time tests to other servers.

Package: perfsonar-centralmanagement
Architecture: all
Depends: perfsonar-meshconfig-jsonbuilder, perfsonar-meshconfig-guiagent,
 perfsonar-lsregistrationdaemon, maddash, esmond, ${misc:Depends}
Description: perfSONAR central management metapackage - beta
 perfSONAR combines a number of measurement tools and services.
 .
 perfSONAR central metapackage installs Mesh configuration tools,
 MaDDash framework for scheduling service checks and displaying results,
 and a Measurement Archive for storing results.
